[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]
ptpython = "*"

[packages]
fabric = "*"
ptpython = "*"
twisted = "*"
pytest = "*"
prometheus-client = "*"

[requires]
python_version = "2.7"
